<tr>
	<td>
		<f:format.date format="Y-m-d H:i:s" date="{entry.crdate}"/>
	</td>
	<td class="col-title">
		{entry.ip}
	</td>
	<td>
		<f:translate key="type.{entry.type}" /> ({entry.type})
	</td>
	<td>
		{entry.score}
	</td>
	<td>
		<f:link.action action="delete" arguments="{blockLog : entry}" title="{f:translate(key: 'action.delete', default: 'Delete')}" class="btn btn-default"><core:icon identifier="actions-edit-delete" size="small"/></f:link.action>
		<f:link.action action="move" arguments="{blockLog : entry}" title="{f:translate(key: 'action.move', default: 'Move to whitelist')}" class="btn btn-default"><core:icon identifier="actions-document-move" size="small"/></f:link.action>
	</td>
</tr>